#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#logo{
     margin: 1px;
}
#logo img{
    /* margin: 11px 7px; */
    height: 116px;
}
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding:3px 22px ;
    border-radius: 22px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    display: block;
    padding:3px 22px ;
    border-radius: 22px;
    text-decoration: none;
   }
.info .imges{
    display: flex;
    padding: 20px 575px;
}
.info .imges img{
    height: 300px;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    margin: 2px 2px;
}
.info h1{
    font-size: 1.7rem;
    text-align: center;
}
.info .prize{
    font-size: 1.3rem;
    padding: 30px;
}
div .style{
    border: 2px solid black;
    padding: 45px 45px;
    font-size: 1.3rem;
    background-color: rgb(199, 193, 193);
}
